#landing {
  z-index: 100;
}

.night {
  position: absolute;
  width: 150%;
  height: 150%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 100%;
  top: 100%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: 30%;
  left: 20%;
  -webkit-animation-delay: 3520ms;
  animation-delay: 3520ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 3520ms;
  animation-delay: 3520ms;
}
.shooting_star:nth-child(2) {
  top: 40%;
  left: 20%;
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.shooting_star:nth-child(3) {
  top: 45%;
  left: -10%;
  -webkit-animation-delay: 4700ms;
  animation-delay: 4700ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 4700ms;
  animation-delay: 4700ms;
}
.shooting_star:nth-child(4) {
  top: 60%;
  left: 10%;
  -webkit-animation-delay: 4200ms;
  animation-delay: 4200ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4200ms;
  animation-delay: 4200ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 91px);
  left: calc(50% - 195px);
  -webkit-animation-delay: 3925ms;
  animation-delay: 3925ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 3925ms;
  animation-delay: 3925ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 23px);
  left: calc(50% - 131px);
  -webkit-animation-delay: 4728ms;
  animation-delay: 4728ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 4728ms;
  animation-delay: 4728ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -159px);
  left: calc(50% - 65px);
  -webkit-animation-delay: 3535ms;
  animation-delay: 3535ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 3535ms;
  animation-delay: 3535ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 154px);
  left: calc(50% - 26px);
  -webkit-animation-delay: 4224ms;
  animation-delay: 4224ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 4224ms;
  animation-delay: 4224ms;
}
.shooting_star:nth-child(9) {
  top: 80%;
  left: 50%;
  -webkit-animation-delay: 3874ms;
  animation-delay: 3874ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 3874ms;
  animation-delay: 3874ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 117px);
  left: calc(50% - 44px);
  -webkit-animation-delay: 3010ms;
  animation-delay: 3010ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 3010ms;
  animation-delay: 3010ms;
}
.shooting_star:nth-child(11) {
  top: 30%;
  left: 0%;
  -webkit-animation-delay: 3720ms;
  animation-delay: 3720ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 3720ms;
  animation-delay: 3720ms;
}
.shooting_star:nth-child(12) {
  top: 0%;
  left: 0%;
  -webkit-animation-delay: 3430ms;
  animation-delay: 3430ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 3430ms;
  animation-delay: 3430ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
